@model IEnumerable<TopAutos.Models.Vehiculo>

@{
    ViewData["Title"] = "Mis vehiculos";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="vehiculos">
    @foreach (var item in Model)
    {
        <div data-userid="1" data-vehiculoid="@item.Id" class="iVehiculo iVehiculo-@item.Id">

            <div class="poster"><img width="25%" src="@Url.Content("/img/" + item.Imagen +"")" /></div>

            <div class="datosVehiculo">
                <p class="titulo">@Html.DisplayFor(modelItem => item.Modelo)<span>@Html.DisplayFor(modelItem => item.Ano)</span></p>
                <p>@Html.DisplayFor(modelItem => item.Tipo)</p>
                <div class="clasificacion clasificacion-@item.Id">
                    <span data-clasif="5" data-vid="@item.Id" class="fa fa-star"></span>
                    <span data-clasif="4" data-vid="@item.Id" class="fa fa-star"></span>
                    <span data-clasif="3" data-vid="@item.Id" class="fa fa-star"></span>
                    <span data-clasif="2" data-vid="@item.Id" class="fa fa-star"></span>
                    <span data-clasif="1" data-vid="@item.Id" class="fa fa-star"></span>
                </div>
                <p><span class="detalleLink"><a href="/Vehiculos/InfoVehiculo/@item.Id">Ver detalle</a></span></p>
            </div>


        </div>}

</div>

<style>
    .checked {
        color: orange;
    }

</style>

