@model IEnumerable<TopAutos.Models.Vehiculo>

@{
    ViewData["Title"] = "Mis vehiculos";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="vehiculos">
    <h3 style="text-align: center">Aca vas a poder ver los autos que mejor calificaste</h3>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">


                <img class="card-img-top" width="25%" src="@Url.Content("/img/" + item.Imagen +"")" />

                <div class="card-body">
                    <p class="card-title" style="color: black">@Html.DisplayFor(modelItem => item.Modelo)</p>
                    <p class="card-text" style="color: black"><span>Año: @Html.DisplayFor(modelItem => item.Ano)</span><br />@Html.DisplayFor(modelItem => item.Tipo)</p>
                    <div class="clasificacion clasificacion-@item.Id">
                        <span data-clasif="5" data-vid="@item.Id" class="fa fa-star"></span>
                        <span data-clasif="4" data-vid="@item.Id" class="fa fa-star"></span>
                        <span data-clasif="3" data-vid="@item.Id" class="fa fa-star"></span>
                        <span data-clasif="2" data-vid="@item.Id" class="fa fa-star"></span>
                        <span data-clasif="1" data-vid="@item.Id" class="fa fa-star"></span>
                    </div>
                    <p><span class="detalleLink"><a href="/Vehiculos/InfoVehiculo/@item.Id">Ver</a></span></p>
                </div>

            </div>
        }
    </div>

</div>

<style>
    .checked {
        color: orange;
    }

</style>

